<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Login Customer</title>

    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
            color: darkgray;
        }

        header {
            background-color: cadetblue;
            height: 75px;
            margin-bottom: 50px;
        }

        header div {
            height: auto;
            padding: 20px 0;
        }

        header ul {
            max-width: 33%;
            min-width: 10%;
            display: inline;
        }

        header a {
            color: azure;
            padding: 10px 15px;
            text-align: center;
            text-decoration: none;
            font-size: 24px;
        }

        .sent-purchase, .confirmed-purchase, .closed-purchase {
            background-color: aliceblue;
            border: 1px dotted cadetblue;
            padding: 15px;
            margin: 30px 20px;
            width: 300px;
            display: inline-block;
        }

        .confirmed-purchase {
            border-style: solid;
        }

        .closed-purchase {
            border-style: solid;
            background-color: lightgray;
        }

        label {
            font-size: 200%;
            text-align: center;
            border-bottom: 1px solid cadetblue;
            padding-bottom: 10px;
            margin: 20px;
        }

        button {
            background-color: cadetblue;
            color: azure;
            padding: 5px 15px;
            margin: 10px 0;
            border: none;
        }
    </style>
</head>

<body>
<header>

    <div id="menu"> <!-- Меню -->
        <ul>
            {{#links}}
               <a href="{{link}}">{{namePage}}</a>
            {{/links}}
        </ul>
    </div>
</header>

<div>
    <label> Заказы пользователей</label>
</div>

{{#sentPurchases}}
    <div class="sent-purchase">
        {{#user}}
            <b>user </b>
            <span>{{email}}</span>
        {{/user}}
        {{#items}}
            {{#spare}}
                <div>
                    <b>товар </b>
                    <span>{{spareName}}</span>
                </div>
                <div>
                    <b>количество </b>
                    <span>{{count}}</span>
                </div>
                <div>
                    <b>цена за единицу </b>
                    <span>{{price}}</span>
                </div>
            {{/spare}}
        {{/items}}
        <form action="/order/admin/confirm/{{purchaseId}}" method="post">
            <button type="submit">finish order</button>
        </form>
    </div>
{{/sentPurchases}}

<div>
    <label> Подтвержденные заказы</label>
</div>

{{#confirmedPurchases}}
    <div class="confirmed-purchase">
        {{#user}}
            <b>user </b>
            <span>{{email}}</span>
        {{/user}}
        {{#items}}

            {{#spare}}
                <div>
                    <b>товар </b>
                    <span>{{spareName}}</span>
                </div>
                <div>
                    <b>количество </b>
                    <span>{{count}}</span>
                </div>
                <div>
                    <b>цена за единицу </b>
                    <span>{{price}}</span>
                </div>
            {{/spare}}
        {{/items}}
    </div>


{{/confirmedPurchases}}

<div>
    <label> Завершенные заказы</label>
</div>

{{#closePurchases}}
    <div class="closed-purchase">
        {{#user}}
            <b>user </b>
            <span>{{email}}</span>
        {{/user}}
        {{#items}}
            {{#spare}}
                <div>
                    <b>товар </b>
                    <span>{{spareName}}</span>
                </div>
                <div>
                    <b>количество </b>
                    <span>{{count}}</span>
                </div>
                <div>
                    <b>цена за единицу </b>
                    <span>{{price}}</span>
                </div>
            {{/spare}}
        {{/items}}
    </div>

{{/closePurchases}}
</body>

</html>