<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Login Customer</title>

    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
            color: darkgray;
        }

        body {
            padding: 0 auto;
        }

        div {
            width: 600px;
            height: 300px;
            margin: 10% auto;
            padding: 50px 50px 0px;
            background-color: aliceblue;
            border: 1px solid cadetblue;
            text-align: center;
        }

        input {
            width: 200px;
            height: 40px;
            margin: 10px 0px 0px;
            padding: 5px;
        }

        button {
            color: azure;
            border: none;
            background-color: cadetblue;
            font-size: 180%;
            padding: 5px 10px;
            margin: 10px 0;
        }
    </style>
</head>
<body>
<div>
    <form method="post">
        <p>
            <input type="text" name="email" placeholder="Username" />
        </p>
        <p>
            <input type="text" name="password" placeholder="Password">
        </p>
        <button type="submit">Registrate</button>
    </form>
</div>
</body>
</html>